<section class="Banner">
  <div class="Banner__bg"></div>
  <div class="Banner__content">
    <div class="Banner__inner container">
      <div class="Banner__body">
        <h1 class="Banner__heading">
        <%= t("banner_question_want_to_improve_excel") %>
        </h1>
        <p class="Banner__leading"> <%= t("create_excellent_spreadsheets") %> </p>
        <%= link_to t("sign_up_for_free"), new_user_registration_path, class: "btn btn-success btn-lg"  %>
        <%= link_to t("sign_in"), new_user_session_path, class: "btn btn-primary btn-lg"  %>
      </div>
    </div>
  </div>
</section>
