<section class="Cta">
  <div class="container">
    <h2 class="Cta__title"> <%= t("ready_to_outsource_your_work") %> </h2>
    <%= link_to t("sign_up_for_free_cta"), new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</section>
