<div class="Featurette">
  <section class="Featurette__content">
    <div class="container">
      <div class="row Featurette__inner  d-flex align-center">
        <div class="col-md-6">
          <h2><%= t("send_us_your_spreadsheets") %></h2>
          <p><%= t("we_are_a_professional_services_provider") %></p>
        </div>
        <div class="col-md-6">
          <%= image_tag("featurette_1_numbers_spreadsheet.jpg", class: "img-responsive rounded") %>
        </div>
      </div>
    </div>
  </section>
</div>
