<div class="Featurette Featurette--with-skew">
  <div class="Featurette__skew"></div>
  <section class="Featurette__content">
    <div class="container">
      <div class="Featurette__inner row d-flex align-center">
        <div class="col-md-6">
          <img class="img-responsive" src="https://images.unsplash.com/photo-1525973604802-86e68c823924?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=82d807fb034755af045fa329d7c2e75e&auto=format&fit=crop&w=1050&q=80" alt="alt">
        </div>
        <div class="col-md-6">
          <h2><%= t("we_offer_excel_as_a_service") %></h2>
          <p><%= t("you_can_tell_us_to_set_up_a_complex_excel") %></p>
        </div>
      </div>
    </div>
  </section>
</div>
