<div class="Featurette Featurette--with-skew">
  <div class="Featurette__skew"></div>
  <section class="Featurette__content">
    <div class="container">
      <div class="Featurette__inner row d-flex align-center">
        <div class="col-md-6">
          <%= image_tag("featurette_2_laptop_spreadsheet.jpg", class: "img-responsive rounded") %>
        </div>
        <div class="col-md-6">
          <h2><%= t("we_offer_excel_as_a_service") %></h2>
          <p><%= t("you_can_tell_us_to_set_up_a_complex_excel") %></p>
        </div>
      </div>
    </div>
  </section>
</div>
