<section class="Perks">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
        <i class="fas fa-map-marked-alt" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading">Made in Germany</h2>
        <p class="Perks__text">We conduct all our work from Germany. We speak German and English.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-shield-alt" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading">No risk</h2>
        <p class="Perks__text">You receive free test capacity to try our service after you created a company account.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-handshake" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading">Successful</h2>
        <p class="Perks__text">We advise companies from all industries and have experience with handling large amounts of data.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-dollar-sign" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading">Transparent pricing</h2>
        <p class="Perks__text">You decide about the maximum amount of time you want to allow us to work on a ticket. Our hourly rate is 140 Euros.</p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>
</section>
