<section class="Perks">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
        <i class="fas fa-map-marked-alt" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading">Made in Germany</h2>
        <p class="Perks__text">We conduct all our work from Germany and we speak German and English</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-4">
        <i class="fas fa-shield-check" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading">No risk</h2>
        <p class="Perks__text">You receive free test capacity to try our service</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-4">
        <i class="fas fa-shield-check" alt="Anchor placeholder image" width="32" height="32"></i>
        <h2 class="Perks__heading">Successful</h2>
        <p class="Perks__text">We advise companies from all industries and have experience with handling large amounts of data</p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>
</section>
